<section class="feed">
  <div class="isotope">
    <div class="element-item doc" data-category="doc">
      <a href="" class="image_link">
        <img src="http://farm5.static.flickr.com/4113/5013039951_3a47ccd509.jpg" alt="Stanley">
        <div class="image_desc">
          <h3 class="name">Mercury</h3>
          <p class="symbol">Hg</p>
          <p class="number">80</p>
          <p class="weight">200.59</p>
        </div>
      </a>
    </div>
    <div class="element-item fashion" data-category="fashion">
      <a href="" class="image_link">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="Stanley">
        <div class="image_desc">
          <h3 class="name">Mercury</h3>
          <p class="symbol">Hg</p>
          <p class="number">80</p>
          <p class="weight">200.59</p>
        </div>
      </a>
    </div>
    <div class="element-item ps" data-category="ps">
      <a href="" class="image_link">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="Stanley">
        <div class="image_desc">
          <h3 class="name">Mercury</h3>
          <p class="symbol">Hg</p>
          <p class="number">80</p>
          <p class="weight">200.59</p>
        </div>
      </a>
    </div>
    <div class="element-item ps" data-category="ps">
      <a href="" class="image_link">
        <img src="http://farm5.static.flickr.com/4153/5013039741_d860fb640b.jpg" alt="Stanley">
        <div class="image_desc">
          <h3 class="name">Mercury</h3>
          <p class="symbol">Hg</p>
          <p class="number">80</p>
          <p class="weight">200.59</p>
        </div>
      </a>
    </div>
    <div class="element-item fashion" data-category="fashion">
      <a href="" class="image_link">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="Stanley">
        <div class="image_desc">
          <h3 class="name">Mercury</h3>
          <p class="symbol">Hg</p>
          <p class="number">80</p>
          <p class="weight">200.59</p>
        </div>
      </a>
    </div>
    <div class="element-item doc" data-category="doc">
      <a href="" class="image_link">
        <img src="http://farm5.static.flickr.com/4113/5013039951_3a47ccd509.jpg" alt="Stanley">
        <div class="image_desc">
          <h3 class="name">Mercury</h3>
          <p class="symbol">Hg</p>
          <p class="number">80</p>
          <p class="weight">200.59</p>
        </div>
      </a>
    </div>
    <div class="element-item fashion" data-category="fashion">
      <a href="" class="image_link">
        <img src="http://farm5.static.flickr.com/4153/5013039741_d860fb640b.jpg" alt="Stanley">
        <div class="image_desc">
          <h3 class="name">Mercury</h3>
          <p class="symbol">Hg</p>
          <p class="number">80</p>
          <p class="weight">200.59</p>
        </div>
      </a>
    </div>
    <div class="element-item fashion" data-category="fashion">
      <a href="" class="image_link">
        <img src="http://farm5.static.flickr.com/4153/5013039741_d860fb640b.jpg" alt="Stanley">
        <div class="image_desc">
          <h3 class="name">Mercury</h3>
          <p class="symbol">Hg</p>
          <p class="number">80</p>
          <p class="weight">200.59</p>
        </div>
      </a>
    </div>
    <div class="element-item fashion" data-category="fashion">
      <a href="" class="image_link">
        <img src="http://farm5.static.flickr.com/4153/5013039741_d860fb640b.jpg" alt="Stanley">
        <div class="image_desc">
          <h3 class="name">Mercury</h3>
          <p class="symbol">Hg</p>
          <p class="number">80</p>
          <p class="weight">200.59</p>
        </div>
      </a>
    </div>
    <div class="element-item fashion" data-category="fashion">
      <a href="" class="image_link">
        <img src="http://farm5.static.flickr.com/4153/5013039741_d860fb640b.jpg" alt="Stanley">
        <div class="image_desc">
          <h3 class="name">Mercury</h3>
          <p class="symbol">Hg</p>
          <p class="number">80</p>
          <p class="weight">200.59</p>
        </div>
      </a>
    </div>
  </div>
</section>
