{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
  </head>
  <body>

    {{> body}}
    
    <script src="{{root}}assets/js/app.js"></script>
    <script src="http://mfzy.co/isotope.pkgd.js" charset="utf-8"></script>
    <script type="text/javascript">
      $( document ).ready( function() {
      // init Isotope
      var $container = $('.isotope');

      $(window).load(function(){
        $container.isotope({
      itemSelector: '.element-item',
      layoutMode: 'masonry',
      getSortData: {
        category: '[data-category]'
      }
      });

      // filter functions
      // var filterFns = {
      // // show if number is greater than 50
      // numberGreaterThan50: function() {
      //   var number = $(this).find('.number').text();
      //   return parseInt( number, 10 ) > 50;
      // },
      // // show if name ends with -ium
      // ium: function() {
      //   var name = $(this).find('.name').text();
      //   return name.match( /ium$/ );
      // }
      // };

      // bind filter button click
      $('#filters').on( 'click', 'button', function() {
      var filterValue = $( this ).attr('data-filter');
      // use filterFn if matches value
      // filterValue = filterFns[ filterValue ] || filterValue;
      $container.isotope({ filter: filterValue });
      });

      // bind sort button click
      $('#sorts').on( 'click', 'button', function() {
      var sortByValue = $(this).attr('data-sort-by');
      $container.isotope({ sortBy: sortByValue });
      });

      // change is-checked class on buttons
      $('.button-group').each( function( i, buttonGroup ) {
      var $buttonGroup = $( buttonGroup );
      $buttonGroup.on( 'click', 'button', function() {
        $buttonGroup.find('.is-checked').removeClass('is-checked');
        $( this ).addClass('is-checked');
      });
      });
      });
    });
    </script>
  </body>
</html>
